
<div class="news-slider">
    <div class="news-slider__wrap" >
        <h1 class="news-slider__wrap__title"> {{ trans('theme::news.news') }}</h1>

        {% for post in highlights %}
        <div class="news-slider__wrap__text">
            <a href="{{ post.route('view') }}" style="text-decoration: none;">
              <h2 class="title">
                  {{ post.title }}
              </h2>
            </a>
            <p class="date">
                <time class="date" datetime="{{ post.publish_at.iso }}">
                    {{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                </time>
            </p>
            <div class="text">
                {% if post.summary %}
                    <p>{{ post.summary|nl2br|raw }}</p>
                {% endif %}
                <a href="{{ post.route('view') }}" class="link">{{ trans('theme::news.more') }}</a>
            </div>
        </div>

        <div class="news-slider__wrap__slider">
            {% if post.imagen_post_destacado %}
                {{ post.imagen_post_destacado.make.class("news-slider__image")|raw }}
            {% else %}
                {{ post.post_image.make.class("news-slider__image")|raw }}
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>
