{% for post in posts %}
    <div class="article-preview ">
        <div class="article-preview__image">
            {% if post.post_image %}
                {{ post.post_image.make.class("article-preview__image__image")|raw }}
            {% endif %}
        </div>
        <div class="article-preview__content">
            <p class="date">
                <time class="date" datetime="{{ post.publish_at.iso }}">
                    {{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                </time>
            </p>
            <a href="{{ post.route('view') }}" style="text-decoration: none;">
              <h3 class="title">{{ post.title }}</h3>
            </a>
            <div class="text">
                {% if post.summary %}
                    <p>{{ post.summary|nl2br|raw }}</p>
                {% endif %}
            </div>
            <a class="link"  href="{{ post.route('view') }}">{{ trans('theme::news.more') }}</a>
        </div>
    </div>
{% endfor %}
